<h2>Edit: <%=h File.basename(@file) %></h2>

<% if @error %>
  <p class="error"><%=h @error %></p>
<% end %>

<form action="/app/<%=h @action %>" method="post">
  <textarea name="contents" <%= disabled? %>><%=h @contents %></textarea>
  <input type="submit" value="Save" <%= disabled? %>>
</form>

