<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Helium</title>
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/prettify.css" type="text/css" media="screen">
  <script src="/prettify.js" type="text/javascript"></script>
</head>
<body onload="prettyPrint()">
<div class="container">

  <div class="header">
    <h1><a href="/" class="logo"><%= logotype %></a>
      <span class="tagline">Git-backed JavaScript deployment</span></h1>
    
    <ul class="navigation">
      <li>
        <h3><a href="/app/config">Edit configuration</a></h3>
        <p>Register libraries using their Git URL to have Helium deploy them.</p>
      </li>
      <li>
        <h3><a href="/app/custom">Custom loaders</a></h3>
        <p>Add custom loader code for libraries from outside Helium.</p>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
  
  <form action="/app/deploy" method="post">
    <% unless @projects.empty? %>
      <ul class="projects">
      <% @projects.keys.sort.each_with_index do |name, i| %>
        <li>
          <input type="hidden" name="projects[<%=h name %>]" value="0">
          <input type="checkbox" class="checkbox" name="projects[<%=h name %>]" id="projects_<%=h name %>" value="1">
          <label for="projects_<%=h name %>"><%=h name %></label>
        </li>
      <% end %>
      </ul>
      <input type="submit" value="Deploy" <%= disabled? %>>
    <% end %>
  </form>
  
  <div class="main">
    <%= yield %>
  </div>
  
  <div class="clear"></div>
  <div class="footer">
    <p class="logo"><%= logotype %></p>
    &copy; 2009&ndash;2010 <a href="http://othermedia.com">theOTHERmedia</a>. Source code is
    <a href="http://github.com/othermedia/helium">hosted on GitHub</a>.
  </div>

</div>
</body>
</html>

